body{
  background-image: url(/img/blackjack.jpg);
  background-size: cover;
  color: aliceblue;
  text-align: center;
  /* font-weight: 500; */
  font-size: x-large;
  justify-content: center;
  justify-items: center;
  display: flex;
  font-weight: bold;
}
.container{
  background-color: rgba(4, 87, 54 , 0.8);
  width: 400px;
  margin-top: 100px;
  border-radius: 10px;
}
h1{
  color: rgb(216, 169, 49);
}
button{
  padding: 10px 15px;
  border: 0;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: rgb(216, 169, 49);
  color:  rgba(4, 87, 54 , 0.8);
  font-weight: bold;
}
button:hover{
  color: rgb(216, 169, 49);
  background-color: rgba(4, 87, 54 , 0.8) ;
  scale: 1.2;
  border: 1px solid  rgb(216, 169, 49);
}